<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<appSettings>
		<add key="LocalAdminLogin" value="admin"/>
		<add key="LocalAdminPassword" value="admin"/>
		<add key="DbServer" value="localhost"/>
		<add key="DbName" value="flooring_shop"/>
		<add key="DbUser" value="root"/>
		<add key="DbPassword" value="root"/>	
	</appSettings>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework, Version=v4.6.1"/>
	</startup>
	
</configuration>
